body{
    margin: 0;
    padding: 0;
    background-color: #ded2bb;
}

.homepage{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    margin-bottom: -72vh;
}
.header{
    top: -145vh;
    color: #ffffff;
    position: relative;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    gap: 25vw;
    left: 3.5vw;
}

.symbol{
    position: relative;
    display: flex;
    font-size: 2.5rem;
}

.nav-bar{
    top: 4vh;
    display: flex;
    position: relative;
    height: fit-content;
    gap: 2.5vw;
    backdrop-filter: blur(3vw);
    border-radius: 10px;
    padding: 5px;
    left: 18vw;
}

.nav-bar a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;  
}

.Nav-button-Home {
    color: #ffffff;
}

.Nav-button-About {
    color: #ffffff;
}

.Nav-button-Contact {
    color: #ffffff;
}

.Nav-button-Book {
    color: #000000;
}

.homepage-image{
    max-width: 100%;
    display: flex;
    position: relative;
}

.homepage h1{
    font-size: 3vw;
    padding: 2rem;
    position: relative;
    display: flex;
    top: -90vh;    
    left: 20%;
    color: #ffffff;
}

.aboutus{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    background-color: #ffffff;
    top: -75vh;
    margin-bottom: -40px;
   
}

.whatwedo {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -70vh;
    left: 19%;
    background-color:#f6f3ef;
    padding: 30px;
    margin-bottom: -18vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 60%;
    align-items: center;
}

.whatwedo h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 3vh;
}

.whatwedo p {
    line-height: 1.6;
    color: #666;
}

.whatwedo h4 {
    font-size: 1.25rem;
    margin-top: 2vh;
    color: #333;
    margin-bottom: 0;
}

/* Social Media Icons */
.social{
    flex-direction: row;
    font-size: 2rem;
}

.social i{
    margin: 1vw;
    transition: color 0.3s ease;
}

.whatwedo i:hover {
    color: #007bff;
}

.insta {
    color: #c13584;
}

.twitter {
    color: #1da1f2;
}

.linkedin {
    color: #0077b5;
}


.chat-container {
    top: 27vh;
    width: 50%;
    height: 100%;
    position: relative;
    left: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #a2b2c4;
    border-radius: 10px 10px 10px 10px ;
    
}

/* Chat header */
.chat-header {
    background-color: #1b508a;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
}

.chat-header h2 {
    margin: 0;
}

/* Chat box styling */
.chat-box {
    padding: 10px;
    background-color: #a2b2c4;
    height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom:2vh;
}

/* Chat input area */
.chat-input-area {
    display: flex;
    
    padding: 10px;
    max-width: 90%;
    left: 5%;
    background-color: #2f2f24;
    position: sticky;
    border-radius: 10px;
}

#userInput {
    flex: 1;
    padding-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#sendBtn {
    background-color: #1b508a;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 1vw;
    border-radius: 5px;
    cursor: pointer;
}

#sendBtn:hover {
    background-color: #2c64a0;
}

/* Bot message styling */
.bot-message {
    align-self: flex-start;
    background-color: #1b508a;
    color: white;
    padding: 10px 15px;
    border-radius: 10px 10px 10px 0;
    margin-bottom: 1.25vh;
    max-width: 75%;
    display: flex;
    flex-direction: column;
}

.bot-message .sender-label p{
    font-weight: bolder;
    margin: 0;
    font-size: .95rem;
}

.bot-message .message-text p {
    margin: 1vh 0 0 0;
    font-size: 1.15rem;
}

/* User message styling */
.user-message {
    align-self: flex-end;
    background-color: #f0f0f0;
    color: black;
    padding: 10px 15px;
    border-radius: 10px 10px 0 10px;
    margin-bottom: 1vh;
    max-width: 95%;
    display: flex;
    flex-direction: column;
}

.user-message .sender-label p {
    font-weight: bolder;
    margin: 0;
    font-size: .95rem;
    text-align: right;
}

.user-message .message-text p {
    margin: 1vh 0 0 0;
    font-size: 1.15rem;
}


/* Scrollbar styling */
.chat-box::-webkit-scrollbar {
    width: .4vw;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #1b508a;
    border-radius: 5px;
}

.chat-container::-webkit-scrollbar-track {
    background-color: #a2b2c4;
}


.contactus {
    position: relative;
    display: flex;
    top: -66vh;
    left:3%;
    background-color:#f6f3ef;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 40%;
    align-items: center;
    height: 80vh;
    margin-bottom: -62.5vh;
}

.contactus h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 3vh;
}

.contactus p {
    line-height: 1.6;
    color: #666;
}

.contactus h4 {
    font-size: 1.25rem;
    margin-top: 2vh;
    color: #333;
    margin-bottom: 0;
}

/* Footer Styling */
footer {
    background-color: #2f2f24;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    position: relative;
    max-width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #1da1f2; /* Twitter blue for links on hover */
}

footer .social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: #ffffff;
    transition: color 0.3s ease;
}

footer .social-icons i:hover {
    color: #f39c12; /* Golden color for hover effect on icons */
}

footer p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.6;
}

footer .social-icons {
    margin-bottom: 15px;
}

body::-webkit-scrollbar{
    width: 0px;
}

@media only screen and (max-width: 768px) {
    .homepage {
      flex-direction: column;
    }
    .header {
      flex-direction: column;
      gap: 10px;
    }
    .nav-bar {
      flex-direction: column;
      gap: 10px;
    }
    .chat-container {
      width: 90%;
      left: 5%;
    }
    .contactus {
      width: 90%;
      left: 5%;
    }
  }

  @media only screen and (max-width: 1024px) {
    .homepage {
      flex-direction: column;
    }
    .header {
      flex-direction: column;
      gap: 10px;
    }
    .nav-bar {
      flex-direction: column;
      gap: 10px;
    }
    .chat-container {
      width: 80%;
      left: 10%;
    }
    .contactus {
      width: 80%;
      left: 10%;
    }
  }






  @media only screen and (min-width: 1600px ) {
    .homepage {
      flex-direction: row;
    }
    .header {
      flex-direction: row;
      gap: 45vh;
      top: -125vh;
    }
    .nav-bar {
      flex-direction: row;
      gap: 20px;
    }

    .homepage h1{
        left: 18%;
        top: -80vh;
        font-size: 6.5vh;
    }

    .aboutus{
        position: relative;
        display: flex;
        top: -65vh;
    }

    .whatwedo {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 150px;
        background-color: #ffffff;
        padding: 40px;
        margin-bottom: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        text-align: center;
        max-width:1200px;
        align-items: center;
    }
    
    .whatwedo h2 {
        font-size: 45px;
        color: #333;
        margin-bottom: 20px;
    }
    
    .whatwedo p {
        font-size: 20px;
        line-height: 1.6;
        color: #666;
    }
    
    .whatwedo h4 {
        font-size: 30px;
        margin-top: 30px;
        color: #333;
        margin-bottom: 0;
    }
    
    /* Social Media Icons */
    .social{
        flex-direction: row;
        font-size: 35px;
    }
    
    .social i{
        margin: 10px;
        transition: color 0.3s ease;
    }
    
    .whatwedo i:hover {
        color: #000000;
    }
    
    .insta {
        color: #c13584;
    }
    
    .twitter {
        color: #1da1f2;
    }
    
    .linkedin {
        color: #0077b5;
    }
    

    .chat-container {
      width: 50%;
      right: 2%;
      margin-bottom: 2.5vh;
    }

    .bot-message .sender-label p {
        font-weight: bolder;
        margin: 0;
        font-size: 18px;
    }
    
    .bot-message .message-text p {
        margin: 5px 0 0 0;
        font-size: 20px;
    }

    .user-message .sender-label p {
        font-weight: bolder;
        margin: 0;
        font-size: 18px;
        text-align: right;
    }
    
    .user-message .message-text p {
        margin: 5px 0 0 0;
        font-size: 20px;
    }

    .chat-input-area{
        padding: 10px;
        width: 90%;
        left: 5%;
        border-radius: 10px;
    }

    .contactus {
        top: -67vh;
      width: 80%;
      left: 3%;
    }

    .contact h2 {
        font-size: 45px;
        color: #333;
        margin-bottom: 20px;
        margin-top: 2px;
    }
    
    .contact p {
        font-size: 20px;
        line-height: 1.6;
        color: #666;
    }
    
    .contact h4 {
        font-size: 30px;
        margin-top: 30px;
        color: #333;
        margin-bottom: 0;
    }

    

    footer p {
        margin: 10px 0;
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 20px;
    }
    
    footer .social-icons {
        margin-bottom: 25px;
    }
    

  }

  html {
    scroll-behavior: smooth;
  }

  a {
    transition: all 0.3s ease; /* Smooth transition over 0.3 seconds */
  }
  
  a:hover {
    opacity: 0.7; /* Dim on hover */
    transform: scale(1.05); /* Slightly zoom in */
  }

  .textinput::-webkit-input-placeholder {
    color: #999; 
    font-size: 16px; 
    font-style: italic;
    position: relative;
    display: flex;
    bottom: 50%;
    left: 10px;
  }

  