@font-face {
    font-family: "Felix Titling";
    src: url("https://drive.google.com/file/d/1LNMIob6JGemT2BcxVibcj5QkTDALcHO5/view?usp=sharing") format("truetype");
  }
  
  @font-face {
    font-family: "Garamond Regular";
    src: url("https://drive.google.com/file/d/17KYE_sC-B5Hiwk-C32zOyc6WV22rlQ3_/view?usp=sharing") format("truetype");
  }
  
  @font-face {
    font-family: "Palatino Linotype";
    src: url("https://drive.google.com/file/d/19xZIKKebp1CveLJcHhafXIBar7LXW3hs/view?usp=sharing") format("truetype");
  }
  
  @font-face {
    font-family: "Goudy Old Style";
    src: url("https://drive.google.com/file/d/1xT6zouyeEGCe6LuB9KOOWQdIM-wL_Zo5/view?usp=sharing") format("truetype");
  }

body{
    margin: 0;
    padding: 0;
    background-color: #ded2bb;
    font-family: "Felix Titling";
    
}


.homepage{
    position: relative;
    display: flex;
    flex-wrap: wrap;    
}

.header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 5vh;
    max-width: 90%;
    align-items: center;
    left: 5%;
    gap: 26.4vw;
}

.headline{
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

.nav-bar{
    display: flex;
    position: relative;
    height: fit-content;
    max-width: fit-content;
    gap: 2.5vw;
}

.nav-bar a{
    font-size: 1.5rem;
    text-decoration: none;
    padding: 2px;  
    color: #000000;
}


.homepage-image img{
    left: 5%;
    max-width: 90%;
    display: flex;
    position: relative;
    border-radius: 15px;
    top: -10vh;
}

.homepage h1,h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 15vw;
    top: 60vh;
    color: #ffffff;
    z-index: 9;
}

.homepage h1{
    font-size: 3.5rem;
}

.homepage h2{
    top: 70vh;
    left: -10vw;
    font-size: 2.4rem;

}

.info{
    position: relative;
    display: flex;
    flex-direction: row;
}

.about {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 5%;
    background-color:#f6f3ef;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 55%;
    top: -5vh;
}

.about h2 {
    top: 0;
    color: #000000;
    left: 0;
   
}

.about p {
    line-height: 1.6;
    color: #666;
    font-family: "Garamond Regular";
}

.about h4 {
    font-size: 1.25rem;
    margin-top: 2vh;
    color: #333;
    margin-bottom: 0;
}

.reviews{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 6%;
    background-color:#f6f3ef;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 25%;
    top: -5vh;
    margin-bottom: 0;
}

.reviews h2{
    color: #000;
    left: 0;
    top: 0;
}

.review{
    text-align: left;
 
}

.review h4{
    margin-bottom: 0;
    font-family: "Palatino Linotype";
    align-content:left;    
}

.review p {
    margin-top: 0;
    line-height: 1.2;
    color: #666;
    font-family: "Palatino Linotype";
}


/* Social Media Icons */
.social{
    flex-direction: row;
    font-size: 2rem;
}

.social i{
    margin: 1vw;
    transition: color 0.3s ease;
}

.whatwedo i:hover {
    color: #007bff;
}

.insta {
    color: #c13584;
}

.twitter {
    color: #1da1f2;
}

.linkedin {
    color: #0077b5;
}


.chat-container {
    width: 55%;
    height: 100%;
    position: relative;
    left: 40%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 10px 10px ;
    margin-bottom: 3vh;
}

/* Chat header */
.chat-header {
    background-color: #2f2f247c;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
    font-family: "Palatino Linotype";
}

.chat-header h2 {
    top: 0;
    left: 0;
    margin: 0;
}

/* Chat box styling */
.chat-box {
    padding: 10px;
    background-color: #2f2f247c;
    height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom:2vh;
    font-family: "Garamond Regular";
    border-radius: 0 0 10px 10px;
}

/* Chat input area */
.chat-input-area{
    display: flex;
    padding: 15px;
    max-width: 100%;
    background-color: #2f2f247c ;
    position: relative;
    border-radius: 10px;
    max-height: max-content;
}

#userInput{
    flex: 1;
    max-width: 85%;
    border: none;
    border-radius: 8px;
    font-size: 1rem;  
    outline: none;
    background-color: #f6f3ef;
    font-family: "Goudy Old Stlye";
    padding: 10px;
}

#userInput:hover{
    cursor: text;
}

.textinput{
    font-size: 1.25rem;
    font-family: "Goudy Old Stlye";
}


#sendBtn, 
#payBtn,
#leave {
    background-color: #2f2f24;
    color: white;
    border: none;
    width: 15%;
    margin-left: 2%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.25rem;
    font-family: "Goudy Old Stlye";

}
.pay-button-container{
    left: 60%;
    position: relative;
    display: flex;
    gap: 2px;
    max-width: fit-content;
}

#payBtn{
    padding: 4vh;
    position: relative;
    width: 10vw;
 
}



#leave{
    padding: 2vh;
    position: relative;
    width: 100%;
    bottom: 0;    
}

#sendBtn:hover,
#payBtn:hover,
#leave:hover {
    background-color: #f6f3ef;
    color: #000000;
    transition: 0.4s ease;
}

/* Bot message styling */
.bot-message {
    align-self: flex-start;
    background-color: #2f2f24;
    color: white;
    padding: 10px 15px;
    border-radius: 10px 10px 10px 0;
    margin-bottom: 1.25vh;
    max-width: 75%;
    display: flex;
    flex-direction: column;
}

.bot-message .sender-label p{
    font-weight: bolder;
    margin: 0;
    font-size: .95rem;
    line-height: 1.2;
}

.bot-message .message-text p {
    margin: 1vh 0 0 0;
    font-size: 1.15rem;
    line-height: 1.2;
}

/* User message styling */
.user-message {
    align-self: flex-end;
    background-color: #f6f3ef;
    color: black;
    padding: 10px 15px;
    border-radius: 10px 10px 0 10px;
    margin-bottom: 1vh;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.user-message .sender-label p {
    font-weight: bolder;
    margin: 0;
    font-size: .95rem;
    text-align: right;
}

.user-message .message-text p {
    margin: 1vh 0 0 0;
    font-size: 1.15rem;
    line-height: 1.5;
}


/* Scrollbar styling */
.chat-box::-webkit-scrollbar {
    width: .4vw;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #2f2f24;
    border-radius: 5px;
}

.chat-container::-webkit-scrollbar-track {
    background-color: #2f2f24;
}

.recommended{
    display: flex;
    position: relative;
    flex-direction: column;
    left: 5%;
    margin-top: -96.5vh;
    max-width: 30%;
    align-items: center;
    height: 94vh;
    background-color: #2f2f247c;
    border-radius: 10px;
}

.recommended h3{
    position: relative;
    display: flex;
    font-size: 1.5rem;
    color: #f6f3ef;
    z-index: 2;
    margin-bottom: 0;
    font-family: "Palatino Linotype";
}

.place{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}


.place img{
    position: relative;
    display: flex;
    max-width: 55%;
    border-radius: 8px;
    margin-bottom: 8vh;
    top: 7vh;
}

.place img:hover{
    transform: scale(1.25) ;
    transition: all 0.4s ease;
}


.place p{
    font-size: 2rem;
    margin-top: 2vh;
    color: #f6f3ef;
    margin-bottom: 0;
    font-family: "Garamond Regular";
}


/* Footer Styling */
footer {
    background-color: #2f2f24;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    position: relative;
    max-width: 100%;
    margin-top: 5vh;
    bottom: 0;
    font-family: "Palatino Linotype";
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #1da1f2; /* Twitter blue for links on hover */
}

footer .social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: #ffffff;
    transition: color 0.3s ease;
}

footer .social-icons i:hover {
    color: #ffe6bd; /* Golden color for hover effect on icons */
}

footer p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.6;
}

footer .social-icons {
    margin-bottom: 15px;
}

body::-webkit-scrollbar{
    width: 0px;
}
 
 html {
    scroll-behavior: smooth;
}

a {
    transition: all 0.3s ease; /* Smooth transition over 0.3 seconds */
}
  
 a:hover {
    opacity: 0.7; /* Dim on hover */
    transform: scale(1.05); /* Slightly zoom in */
}

.textinput::-webkit-input-placeholder {
    color: #999; 
    font-size: 16px; 
    font-style: italic;
    position: relative;
    display: flex;
}

.payment-container {
    max-width: 40vw;
    max-height: max-content;
    margin: 4vh auto;
    padding: 0.5vh;
    background-color: #f6f3ef;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Goudy Old Style";
}

.payment-container h1 {
    position: relative;
    top: -3vh;
    font-size: 3.5vw; /* Responsive font size */
    text-align: center;
}

.payment-container p {
    position: relative;
    top: -7vh;
    font-size: 2vw; /* Responsive font size */
    text-align: center;
}

.payment-container img {
    max-width: 65%;
    position: relative;
    margin-bottom: -1vh;
    top: -4vh;
    width: auto;
    height: auto;
}

.payment-container a {
    cursor: default;
    text-decoration: none;
    font-size: 2vw; /* Responsive font size */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .payment-container {
        max-width: 90vw; /* Increased for smaller screens */
        padding: 2vh;
    }

    .payment-container h1 {
        font-size: 5vw; /* Adjusted for smaller screens */
        top: -2vh;
    }

    .payment-container p {
        font-size: 3.5vw; /* Adjusted for smaller screens */
        top: -5vh;
    }

    .payment-container img {
        max-width: 80%; /* Adjust image size for smaller screens */
    }

    .payment-container a {
        font-size: 3.5vw; /* Adjusted for smaller screens */
    }
}

/* Media query for larger screens */
@media (min-width: 1024px) {
    .payment-container h1 {
        font-size: 2vw; /* Adjusted for larger screens */
    }

    .payment-container p {
        font-size: 1.5vw; /* Adjusted for larger screens */
    }

    .payment-container a {
        font-size: 1.5vw; /* Adjusted for larger screens */
    }
}


.confirmation {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    font-family: "Goudy Old Style";
    color: #000;
    
}

.confirmation h2{
    position: relative;
    color: #000;
    top: -6vh;
    left: 0;
}

.confirm{
    font-size: 30vh;
}

@media screen and (max-width: 475px){
    .header{
        top: 5vh;
        max-width: 90%;
        align-items: center;
        flex-direction: column;
        gap: 2vw;
    }
    
    .headline{
        font-size: 1.5rem;
    }
    
    .homepage-image{
        max-width: 99%;
    }
    .nav-bar{
        gap: 6.4vw;
    }
    
    .nav-bar a{
        font-size: .9rem;
    }
    
    
    .homepage-image img{
        left: 5%;
        top: -8vh;
    }

    .homepage h1,h2 {
        top: 26vh;
        color: #ffffff;
        z-index: 9;
    }
    
    .homepage h1{
        font-size: 1.25rem;
    }
    
    .homepage h2{
        top: 22vh;
        left: 20vw;
        font-size: 1rem;
    }
    
    .info{
        flex-direction: column;
    }

    .about {
        left: 5%;
        padding: 9px;
        max-width: 85%;
    }
    
    .about h2 {
        top: 0;
        color: #000000;
        left: 0;
        font-size: 1rem;
       
    }
    
    .about p {
        font-size: .75rem;
        position: relative;
        top: -2vh;
        line-height: 1.2;
    }
    
    .about h4 {
        font-size: .8rem;
        margin-top: -.5vh;
    }
    
    .reviews{
        margin-top:2vh;
        left: 5%;
        padding: 8px;
        max-width: 85%;
    }
    
    .reviews h2{
        font-size: .9rem;
    }
    
    .review{
        margin-top: -2vh;
    }

    .review h4{
        font-size: .75rem;   
    }
    
    .review p {
        font-size: .65rem;
        line-height: 1.2;
    }
    
    
    /* Social Media Icons */
    .social{
        font-size: 1rem;
    }
    
    .social i{
        margin: 1vw;
        transition: color 0.3s ease;
    }

    .chat-container {
        display: block;
        width: 89%;
        height: 100%;
        top: -1.5vh;
        left: 5%;
    }
    
    /* Chat header */
    .chat-header {
        padding: 8px;
    }
    
    .chat-header h2 {
        font-size: 1.25rem;
    }
    
 
    .chat-box {
        padding: 5px;
        max-height: 50vh;
        margin-bottom:1.5vh;
    }
    

    .chat-input-area{
        padding: 8px;      
    }
    
    #userInput{
        flex: 1;
        max-width: 75%;
        font-size: .75rem;  
        padding: 10px;
    }
    
    .textinput{
        font-size: .75rem;
    }
    
    
    #sendBtn {
        width: 25%;
        margin-left: 2%;
        border-radius: 8px;
        cursor: pointer;
        font-size: .9rem;    
    }

    
   
    .bot-message {
        margin-bottom: .5vh;
        max-width: 75%;
        
    }
    
    .bot-message .sender-label p{
        font-weight: bolder;
        font-size: .65rem;
    }
    
    .bot-message .message-text p {
        margin: 1vh 0 0 0;
        font-size: .9rem;
    }
    
    /* User message styling */
    .user-message {
        margin-bottom: .5vh;
        max-width: 75%;
    }
    
    .user-message .sender-label p {
        font-weight: bolder;
        font-size: .65rem;
    }
    
    .user-message .message-text p {
        margin: 1vh 0 0 0;
        font-size: .9rem;
    }
    
    .recommended{
        top: 95vh;
        left: 5%;
        max-width: 89%;
        height: fit-content;
        margin-bottom: 0;
    }
    
    .recommended h3{
        position: relative;
        display: flex;
        font-size: 1.25rem;
        text-align: center;
        margin-top: 1vh;
    }
    
    .place{
        top: 2vh;
        height: 31vh;
        overflow: hidden;

    }


    .place img{
        max-width: 55%;
        top: 2vh;
    }
    

    .place img:hover{
        transform: scale(1.15) ;
        transition: all 0.4s ease;
    }
    
    
    .place p{
        font-size: 1rem;
        margin-top: -3vh;
        margin-bottom: 2vh;
    }
    
    
    /* Footer Styling */
    footer {
        top: 95vh;
        padding: 20px;
        font-size: 12px;
    }
    
    footer a {
        font-size: small;
        font-weight:normal;
    }
   
    footer .social-icons i {
        font-size: 18px;
       
    }
    
    footer p {
        margin: 10px 0;
        font-size: 12px;
        line-height: 1.2;
    }
    
    footer .social-icons {
        margin-bottom: 15px;
    }
    
    .textinput::-webkit-input-placeholder {
        font-size: 14px; 
    }
   
}

@media screen and (max-width:450px) {

    .nav-bar{
        align-items: center;
        gap: 5vw;
        left: 2%;
    }
    
    .nav-bar a{
        font-size: .8rem;
    }
    .place{
        top: 2vh;
        height: 50vw;
        overflow: hidden;

    }
    
}


@media screen and (max-width:400px) {

    .nav-bar{
        gap: 6vw;
    }
    
    .place{
        height: 50vw;
    }
    
}


